.teamsButton{
    width: 474px;
    height: 72px;
}

.memberButton{
    width: 150px;
    height: 56px;
}

.memberButton:hover{
    background: #217BF4;
    color: #fff;
    /* border-radius: 14px; */
}


.teamCard{
    margin-top: 44px;
    margin-left: 134px;
    margin-right: 134px;
    margin-bottom: 84px;
}

/* .memberCard{
    width: 270px;
} */


@media only screen and (max-width: 600px) {
    .teamsButton{
        width: 300px;
        height: 72px;
    }

    .memberButton{
        width: 90px;
        height: 56px;
    }

    .teamCard{

        margin-left: 65px;
        margin-right: 65px;
    }
}
