.features{
    /* margin-top: 75px!important;
    margin-bottom: 75px!important;
    margin-left: 135px!important;
    margin-right: 75px!important; */
    background-image: url('../../image/featuresBase.png');
    /* position: absolute; */
}

.featuresSize{
    padding:64px 176px;
}


@media only screen and (max-width: 1200px) {
    .featuresSize{    
        padding:20px 80px;
    }
  }

@media only screen and (max-width: 992px) {
    .featuresSize{    
        padding:20px 5px;
    }
  }
  

@media only screen and (max-width: 767px) {
    .featuresSize{    
        padding:20px 70px;
    }
  }

@media only screen and (max-width: 400px) {
    .featuresSize{    
        padding:20px 40px;
    }
  }