.about{
    /* height: 576px; */
    /* margin-top: 96px!important; */
    /* In CSS, important means that only the ! important property value is to be applied to an element and all other declarations on the element are to be ignored */
}

.aboutText{
    max-width: 406px!important;
    margin: 96.53px 160px 133.47px 135px;
    margin-top: 96.53px!important;
}

.aboutImg{
    margin: 34px 135px 34px 0px;
    margin-top: 34px!important;
}

.about1{
    margin: 70px 29px 70px 0px;
    margin-top: 70px!important;
}



@media only screen and (max-width: 600px) {
    .aboutText{
        margin: 45px 80px 65px 65px;
        margin-top: 45px!important;
    }
    
    .aboutImg{
        margin: 15px 65px 15px 65px;
        /* margin-top: 15px!important; */
    }

    .about1{
        margin: 35px 14px 35px 0px;
        margin-top: 35px!important;
    }
  }



@media only screen and (max-width: 414px) {
    .aboutText{
        margin: 5px;
    }
    .aboutImg{
        margin: 5px;
    }
  }